<!doctype html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="mx-auto max-w-full bg-gray-800 h-13 flex items-center">
      <span class="text-white m-4 text-lg">Анализатор страниц</span>
      <span class="text-gray-400 m-2">Сайты</span>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
