{% extends "main.html" %} {% block content%}
<div
  class="mx-auto w-160 h-60 flex flex-col justify-center m-4 p-10 bg-gray-100 border rounded-md border-gray-300 text-left gap-4"
>
  <div class="text-5xl font-semibold font-sans">Анализатор страниц</div>
  <div class="font-medium">Бесплатно проверяйте сайты на SEO-пригодность</div>
  <form action="" method="" class="flex items-center h-10">
    <input type="url" placeholder="https://example.com" class="border-gray-300 rounded-md w-100" />
    <button type="submit" class="m-5 w-35 h-10 px-4 text-center border rounded-md bg-blue-500 text-white">
      ПРОВЕРИТЬ
    </button>
  </form>
</div>
{% endblock %}
